<div class="container container--form bg-light ">
  <form [formGroup]="employee_form" (ngSubmit)="onSubmit()" class="row">
    <mat-form-field appearance="standard" class="col-12">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre" formControlName="name" #nameInput>
      <mat-error>Nombre es requerido</mat-error>
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Apellido</mat-label>
      <input matInput placeholder="Apellido" formControlName="last_name" #last_nameInput>
      <mat-error>Apellido es requerido</mat-error>
    </mat-form-field>


    <mat-form-field appearance="standard">
      <mat-label>Fecha de nacimiento</mat-label>
      <input matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="birthday">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year"></mat-datepicker>
    </mat-form-field>

    <div *ngIf="!loading" class="col-12 d-flex justify-content-center">
      <button mat-raised-button color="primary" type="submit" [disabled]="!employee_form.valid">Guardar
        empleado</button>
    </div>

    <div *ngIf="loading" class="d-flex justify-content-center spinner">
      <mat-spinner></mat-spinner>
    </div>

  </form>
</div>